.card{
    width: 420px;
    max-width: 90vw; 
    margin: 1rem;
    border: 1px solid rgb(11, 27, 48);
    border-radius: 1rem;
    /* padding: 0.3rem; */
    overflow: hidden; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    bottom: 0px;
    animation:i 1 1s;
    font-size: 1.1rem;
}
.card img{ 
    width: 420px;
    height: 250px; 
    max-width: 90vw;
    /* border: 1px solid; */
    border-radius: 10px 10px 0 0;
    transition: all ease 01s;
}
.card .desc span{
    display: inline-block;
    padding:0 10px;
 }
.btn{ 
    padding: 7px;
    margin-top: 5px;
}
.btn a{
    color: aliceblue;
    text-transform: uppercase;
    text-decoration: none;
}
.btn:hover{
cursor: pointer;
}


@keyframes i{
0%{ 
    bottom:-200px;
    opacity: 0.2;
}
100%{
    opacity: 1;
    position: relative;
}
}
